<nav>
  <div class="sidebar">
    <a href="" class="logo">Jesse Howard</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
    {% for item in site.data.navigation %}
      <li><a href="{{ item.link }}">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
  </div>
  
  <div class="center">
    <div class="circle">
      <div class="badgetext">
        <svg x="0" y="0" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
        <defs>
          <path id="circlePath"
            d="
            M 150, 150
            m -120, 0
            a 120,120 0 0,1 240,0
            a 120,120 0 0,1 -240,0
            "
           />
        </defs>
          <g>
          <text>
            <textPath xlink:href="#circlePath">
              Work In Progress &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; **** &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Work In Progress &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ****  </textPath>
          </text>
          </g>
        </svg>
      </div>
    </div>
  </div>
  

</nav>
