<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Jesse Howard">
  <meta name="description" content="Jesse Howard is a designer based in the Netherlands...">
  <meta name="viewport" content="width=device-width" />


  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta property="og:image" content="https://path to image">
  <meta property="og:description" content="Jesse Howard is...">
  <meta property="og:title" content="jessehoward.net">

  <meta name="keywords" content=" ">

  <link rel="stylesheet" href="assets/css/flickity.min.css" media="screen">
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="assets/css/media.css">

  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/flickity.pkgd.min.js"></script>

  <script type="text/javascript">

  $(document).ready(function(){
    $(".flip").click(function(){
    $(".flip").not(this).next().slideUp();
    $(this).next().slideToggle("slow");

    var $carousel =
    $(this).parent().find('.carousel').flickity({
      contain: true,
      pageDots: false,
      lazyLoad: true,
      autoPlay: true,
    });
     $('.carousel').flickity('resize');

    var $carouselStatus = $('.carousel-status');

    var flkty = $carousel.data('flickity');

    function updateStatus() {
      var cellNumber = flkty.selectedIndex + 1;
      console.log( cellNumber )
      $carouselStatus.text( cellNumber + ' / ' + flkty.slides.length );
    }
    updateStatus();
    $carousel.on( 'select.flickity', updateStatus );

    });


  });

  </script>
</head>
<body>
  {% include navigation.html %}
<div class ="main">
  <ul class ="projectlist">


     {% for project in site.projects reversed %}
    <div>
    <li class="flip">{{ project.name }}</li>
    <div class="panel">

      <div class ='carousel-container'>
        <div class="carousel">
          {% for image in project.images %}
            <div class="carousel-cell"> <img class="carousel-cell-image" data-flickity-lazyload="{{ image.image-path }}" alt="{{ image.alt }} "> </div>
          {% endfor %}
        </div>
        <p class="carousel-status"></p>
      </div>
      <div class="projectdesc">
        <p>
         {{ project.content }}
        </p>
      </div>
    </div>

   </div>
   {% endfor %}

  </ul>

</div>

</body>

</html>
