<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Jesse Howard">
  <meta name="description" content="Jesse Howard is a designer based in the Netherlands...">
  <meta name="viewport" content="width=device-width" />


  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta property="og:image" content="https://path to image">
  <meta property="og:description" content="Jesse Howard is...">
  <meta property="og:title" content="jessehoward.net">

  <meta name="keywords" content=" ">

  <link rel="stylesheet" href="assets/css/flickity.min.css" media="screen">
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="assets/css/media.css">

  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/flickity.pkgd.min.js"></script>

  <script type="text/javascript">

   $(document).ready(function(){
//   $('.main-carousel').flickity({
//     pageDots: false,
//     cellAlign: 'left',
//     contain: true
//     });
//   });

var myList = document.querySelector('.main-carousel');
for (var i = myList.children.length; i >= 0; i--) {
    myList.appendChild(myList.children[Math.random() * i | 0]);
}

var elem = document.querySelector('.main-carousel');
var flkty = new Flickity( elem, {
  // options
  adaptiveHeight: true,
  cellAlign: 'left',
  contain: true,
  pageDots: false,
  autoPlay: true,
  pauseAutoPlayOnHover: false,
  setGallerySize: false,

});
});
  </script>
</head>

{% include navigation.html %}

<div class="main">
    <div class="main-carousel">
          {% for image in site.static_files %}
            {% if image.path contains 'assets/images' %}
            <div class="carousel-cell">
              <img src="{{ site.baseurl }}{{ image.path }}"/>
              </div>
          {% endif %}
        {% endfor %}
     
      </div>
      
</div>
