{% include header.html %}
<body>
  {% include navigation.html %}
<div class ="main">

  <ul class ="projectlist">
     {% for workshop in site.workshops reversed %}
    <div>
    <li class="flip">{{ workshop.name }}</li>
    <div class="panel">

      <div class ='carousel-container'>
        <div class="carousel">
          {% for image in workshop.images %}
            <div class="carousel-cell"> <img class="carousel-cell-image" data-flickity-lazyload="{{ image.image-path }}" alt="{{ image.alt }} "> </div>
          {% endfor %}
        </div>
        <!-- <p class="carousel-status"></p> -->
      </div>
      <div class="projectdesc">
         <p>
             {{ workshop.content }}
        </p>
        {{  workshop.location }} <br>
        {{ workshop.year }}
      </div>
    </div>

   </div>
   {% endfor %}

  </ul>

</div>

</body>

</html>
